* {
    margin: 0;
}

.screen-container {
    position: absolute;
    z-index: -5; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background__blue-background {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden; 
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.background__first-circle {
    position: absolute;
    top: -400px;
    left: -242px;
    z-index: 0;
}

.background__second-circle {
    position: absolute;
    bottom: -538px;
    right: -173px;
    z-index: 0;
}

.card {
    height: 399px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    font-family: 'Kumbh Sans', sans-serif; 
    box-shadow: 7px 10px hsl(229, 23%, 23%, 0.05);
}

.small {
    font-size: 12px;
}   

.medium {
    font-size: 18px;
}

.large {
    font-size: 20px;
}

.thin {
    font-weight: 200;
    color: hsl(227, 10%, 46%);
}

.regular {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.bold {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.card__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__photo_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.card__photo {
    border-radius: 50px;
    left: 125px;
    bottom: 55px; 
    border: 5px solid white; 
}

.card__title-block {
    position: relative;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card__name {
    margin-bottom: 10px;
}

#card__place {
    font-weight: 100px;
}

.card__results-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.card__results-block div {
    display: flex;
    text-align: center;
    margin-top: 7%;
}


.attribution {
    font-size: 11px; 
    text-align: center;
    z-index: 3;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.footer {
    display: flex;
    justify-content: flex-end;
}