body {
    background-color: #92A8D1;
    color: #1f2022;
    margin: 20px 30%;
    position: relative;
    /* box-sizing: border-box; */
}

.title {
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    width: 140px;
    height: 40px;
    background-color: #F7CAC9;
    border: 1px solid #1f2022;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity 0.7s;
}

.button:hover {
    opacity: 0.7;
  }

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
}

.image {
    display: block;
    margin: 50px auto;
    width:  250px;
    height: 250px;
    object-fit: cover;
}


.advice {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.1;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50%;
    box-sizing: border-box;
    height: 80px;
  }

.phrase {
    text-decoration: underline;
}

.footer {
    font-size: 16px;
    margin: 0;
    /* position: absolute; */
    bottom: 10px;
    text-align: center;
}